<h1>Movies</h1>

<div id="movies">
  <% @movies.each do |movie| %>
    <div id="movie_<%= movie.id %>">
      <p><strong>Title:</strong> <span class="title"><%= movie.title %></span></p>
      <p><strong>Rating:</strong> <span class="rating"><%= movie.rating %></span></p>
      <p><strong>Release Date:</strong>
        <span class="release_date">
          <%= movie.release_date&.strftime('%d-%b-%Y') %>
        </span>
      </p>
      <p><strong>Description:</strong> <span class="description"><%= movie.description %></span></p>
    </div>
  <% end %>
</div>
