<h1>Movies</h1>

<div id="movies">
  <% @movies.each do |movie| %>
    <div id="movie_<%= movie.id %>">
      <p><strong>Title:</strong> <%= movie.title %></p>
      <p><strong>Rating:</strong> <%= movie.rating %></p>
      <p><strong>Release Date:</strong> <%= movie.release_date&.to_date %></p>
      <p><strong>Description:</strong> <%= movie.description %></p>
    </div>
  <% end %>
</div>
